
    <!-- /HEADER -->
    <div class="main">
        <a href=".header" class="scroll-top"></a>

        <section class="main-slider__block">
            <div class="main-slider js-main-slider">
                <div>
                    <a href="#1">
                        <div class="main-slider__wrap">
                            <img src="img/bg/slide-img.jpg" alt="Slide image" class="main-slider__img">

                            <div class="main-slider__info">
                                <span class="fadeLeftIn slide-ttl"><span class="green-txt">Lorem Ipsum</span> - это текст-"рыба",</span>
                                <span class="fadeLeftIn d-7 slide-subttl">часто используемый в печати и вэб-дизайне.</span>
                                <span class="fadeLeftIn d-9 slide-txt">Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#2">
                        <div class="main-slider__wrap">
                            <img src="img/bg/slide-img.jpg" alt="Slide image" class="main-slider__img">

                            <div class="main-slider__info">
                                <span class="fadeLeftIn slide-ttl"><span class="green-txt">Lorem Ipsum#2</span> - это текст-"рыба",</span>
                                <span class="fadeLeftIn d-7 slide-subttl">часто используемый в печати и вэб-дизайне.</span>
                                <span class="fadeLeftIn d-9 slide-txt">Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#3">
                        <div class="main-slider__wrap">
                            <img src="img/bg/slide-img.jpg" alt="Slide image" class="main-slider__img">

                            <div class="main-slider__info">
                                <span class="fadeLeftIn slide-ttl"><span class="green-txt">Lorem Ipsum#3</span> - это текст-"рыба",</span>
                                <span class="fadeLeftIn d-7 slide-subttl">часто используемый в печати и вэб-дизайне.</span>
                                <span class="fadeLeftIn d-9 slide-txt">Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#4">
                        <div class="main-slider__wrap">
                            <img src="img/bg/slide-img.jpg" alt="Slide image" class="main-slider__img">

                            <div class="main-slider__info">
                                <span class="fadeLeftIn slide-ttl"><span class="green-txt">Lorem Ipsum#4</span> - это текст-"рыба",</span>
                                <span class="fadeLeftIn d-7 slide-subttl">часто используемый в печати и вэб-дизайне.</span>
                                <span class="fadeLeftIn d-9 slide-txt">Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class="cg main-intro">
            <h2 class="main-intro__ttl">Prisma Energy Group</h2>
            <div class="main-intro__info">
                <div class="intro-info__wrap">
                    <img src="img/intro-img1.jpg" alt="" class="img">
                </div>
                <div class="intro-info__wrap">
                    <img src="img/intro-img2.jpg" alt="" class="img">
                </div>
                <p class="intro-info__txt"><span class="green-txt">Наша цель</span> – внедрение актуальных и экономически взвешенных
                    решений во все области производства и жизнедеятельности человека для достижения
                    максимального результата. Мы поставляем смарт-технологии, созданные ведущими профессионалами.</p>
            </div>
        </section>
        <section class="cg main-pass">
            <div class="link-wrap">
                <a href="#" class="main-implement__link main-pass__ttl">Направления деятельности</a>
            </div>
            
            <div class="main-pass__blocks">

                <a href="#" class="main-pass__block">
                    <div class="pass-left">
                        <div class="pass-left__wrap">
                            <img src="img/icon/pass-img1.png" alt="Pass image" class="pass-img">
                        </div>                  
                    </div>
                    <div class="pass-right">
                        <span class="pass-right__ttl">Проектирование</span>
                        <span class="pass-right__txt">Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</span>
                    </div>
                </a>
                <a href="#" class="main-pass__block">
                    <div class="pass-left">
                        <div class="pass-left__wrap">
                            <img src="img/icon/pass-img2.png" alt="Pass image" class="pass-img">
                        </div>                                               
                    </div>
                    <div class="pass-right">
                        <span class="pass-right__ttl">Электрощитовой завод</span>
                        <span class="pass-right__txt">Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</span>
                    </div>
                </a>
                <a href="#" class="main-pass__block">
                    <div class="pass-left">
                        <div class="pass-left__wrap">
                            <img src="img/icon/pass-img3.png" alt="Pass image" class="pass-img">
                        </div>                                               
                    </div>
                    <div class="pass-right">
                        <span class="pass-right__ttl">Автоматизация</span>
                        <span class="pass-right__txt">Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</span>
                    </div>
                </a>

                <a href="#" class="main-pass__block">
                    <div class="pass-left">
                        <div class="pass-left__wrap">
                            <img src="img/icon/pass-img4.png" alt="Pass image" class="pass-img">
                        </div>                                              
                    </div>
                    <div class="pass-right">
                        <span class="pass-right__ttl">Солнечные электростанции</span>
                        <span class="pass-right__txt">Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</span>
                    </div>
                </a>
                <a href="#" class="main-pass__block">
                    <div class="pass-left">
                        <div class="pass-left__wrap">
                            <img src="img/icon/pass-img5.png" alt="Pass image" class="pass-img">
                        </div>                                              
                    </div>
                    <div class="pass-right">
                        <span class="pass-right__ttl">Тепловые насосы</span>
                        <span class="pass-right__txt">Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</span>
                    </div>
                </a>
                <a href="#" class="main-pass__block">
                    <div class="pass-left">
                        <div class="pass-left__wrap">
                            <img src="img/icon/pass-img6.png" alt="Pass image" class="pass-img">
                        </div>                                            
                    </div>
                    <div class="pass-right">
                        <span class="pass-right__ttl">Солнечные коллекторы</span>
                        <span class="pass-right__txt">Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</span>
                    </div>
                </a>

                <a href="#" class="main-pass__block">
                    <div class="pass-left">
                        <div class="pass-left__wrap">
                            <img src="img/icon/pass-img7.png" alt="Pass image" class="pass-img">
                        </div>                                                
                    </div>
                    <div class="pass-right">
                        <span class="pass-right__ttl">Зарядные станции</span>
                        <span class="pass-right__txt">Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</span>
                    </div>
                </a>
                <a href="#" class="main-pass__block">
                    <div class="pass-left">
                        <div class="pass-left__wrap">
                            <img src="img/icon/pass-img8.png" alt="Pass image" class="pass-img">
                        </div>                                              
                    </div>
                    <div class="pass-right">
                        <span class="pass-right__ttl">Системы отопления</span>
                        <span class="pass-right__txt">Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</span>
                    </div>
                </a>
                <a href="#" class="main-pass__block">
                    <div class="pass-left">
                        <div class="pass-left__wrap">
                            <img src="img/icon/pass-img9.png" alt="Pass image" class="pass-img">
                        </div>                                             
                    </div>
                    <div class="pass-right">
                        <span class="pass-right__ttl">Насосные станци</span>
                        <span class="pass-right__txt">Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</span>
                    </div>
                </a>

            </div>
        </section>
        <section class="cg mb-distance-1">
            <div class="link-wrap">
                <a href="#" class="main-implement__link">Реализации</a>
            </div>
            <div class="main-implement__blocks">
                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/imeplement-icon__photo.png" alt="Post icon" class="implement-post__icon photo-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">«Призма Энерджи Групп» – участник выставки «Зерновые технологии»
                            «Призма Энерджи Групп» – участник выставки «Зерновые технологии»
                            «Призма Энерджи Групп» – участник выставки «Зерновые технологии»
                            «Призма Энерджи Групп» – участник выставки «Зерновые технологии»
                            «Призма Энерджи Групп» – участник выставки «Зерновые технологии»
                            «Призма Энерджи Групп» – участник выставки «Зерновые технологии»
                            «Призма Энерджи Групп» – участник выставки «Зерновые технологии»</span>
                        <span class="block-tag">Альтернативная энергетика</span>
                    </a>
                </div>
                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img2.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/implement-icon__video.svg" alt="Post icon" class="implement-post__icon video-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">Smart Recipe как решение по автоматизации производстваSmart Recipe как решение по автоматизации производстваSmart Recipe как решение по автоматизации производстваSmart Recipe как решение по автоматизации производства</span>
                        <span class="block-tag">Автоматизация</span>
                    </a>
                </div>
                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img3.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/imeplement-icon__photo.png" alt="Post icon" class="implement-post__icon photo-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">Интернет вещей как следующий шаг к повышению эффективности бизнеса</span>
                        <span class="block-tag">Альтернативная энергетика</span>
                    </a>
                </div>
                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img4.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/implement-icon__video.svg" alt="Post icon" class="implement-post__icon video-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">Сотрудники «Призма Энерджи Групп» прошли курсы от «Шнейдер Электр...</span>
                        <span class="block-tag">Электрощитовой завод</span>
                    </a>
                </div>

                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/imeplement-icon__photo.png" alt="Post icon" class="implement-post__icon photo-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">«Призма Энерджи Групп» – участник выставки «Зерновые технологии»</span>
                        <span class="block-tag">Альтернативная энергетика</span>
                    </a>
                </div>
                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img2.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/implement-icon__video.svg" alt="Post icon" class="implement-post__icon video-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">«Призма Энерджи Групп» – участник выставки «Зерновые технологии»</span>
                        <span class="block-tag">Автоматизация</span>
                    </a>
                </div>
                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img3.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/imeplement-icon__photo.png" alt="Post icon" class="implement-post__icon photo-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">Smart Recipe как решение по автоматизации производства</span>
                        <span class="block-tag">Альтернативная энергетика</span>
                    </a>
                </div>
                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img3.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/implement-icon__video.svg" alt="Post icon" class="implement-post__icon video-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">Интернет вещей как следующий шаг к повышению эффективности бизнеса</span>
                        <span class="block-tag">Альтернативная энергетика</span>
                    </a>
                </div>
            </div>
        </section>
        <section class="cg mb-distance-2">
            <div class="link-wrap">
                <a href="#" class="main-implement__link">Новости</a>
            </div>
            <div class="main-implement__blocks">
                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/implement-icon__video.svg" alt="Post icon" class="implement-post__icon video-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">«Призма Энерджи Групп» – участник выставки «Зерновые технологии»</span>
                        <span class="block-tag">Альтернативная энергетика</span>
                    </a>
                </div>
                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img2.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/implement-icon__video.svg" alt="Post icon" class="implement-post__icon video-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">Smart Recipe как решение по автоматизации производства</span>
                        <span class="block-tag">Автоматизация</span>
                    </a>
                </div>
                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img3.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/implement-icon__video.svg" alt="Post icon" class="implement-post__icon video-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">Интернет вещей как следующий шаг к повышению эффективности бизнеса</span>
                        <span class="block-tag">Альтернативная энергетика</span>
                    </a>
                </div>
                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img4.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/implement-icon__video.svg" alt="Post icon" class="implement-post__icon video-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">Сотрудники «Призма Энерджи Групп» прошли курсы от «Шнейдер Электр...</span>
                        <span class="block-tag">Электрощитовой завод</span>
                    </a>
                </div>

                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/implement-icon__video.svg" alt="Post icon" class="implement-post__icon video-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">«Призма Энерджи Групп» – участник выставки «Зерновые технологии»</span>
                        <span class="block-tag">Альтернативная энергетика</span>
                    </a>
                </div>
                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img2.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/implement-icon__video.svg" alt="Post icon" class="implement-post__icon video-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">«Призма Энерджи Групп» – участник выставки «Зерновые технологии»</span>
                        <span class="block-tag">Автоматизация</span>
                    </a>
                </div>
                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img3.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/implement-icon__video.svg" alt="Post icon" class="implement-post__icon video-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">Smart Recipe как решение по автоматизации производства</span>
                        <span class="block-tag">Альтернативная энергетика</span>
                    </a>
                </div>
                <div class="main-implement__block">
                    <a href="#" class="block-link">
                        <div class="block-img__wrap">
                            <img src="img/implement-block__img3.jpg" alt="Block image" class="block-img">
                            <img src="img/icon/implement-icon__video.svg" alt="Post icon" class="implement-post__icon video-icon">
                        </div>
                        <span class="block-date">17.04.2020</span>
                        <span class="block-ttl">Интернет вещей как следующий шаг к повышению эффективности бизнеса</span>
                        <span class="block-tag">Альтернативная энергетика</span>
                    </a>
                </div>
            </div>
        </section>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-content question-content" id="modal-question">
            <span class="close"></span>
            
            <span class="question-ttl">Задать вопрос</span>
            <span class="question-txt">Спасибо! Мы обязательно свяжемся с Вами и ответям на все Ваши вопросы</span>
            <form class="question-form" action="#">
    
                <div class="contact-form-row cfix">
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input question-inp">
                                <input class="inp" type="text" required name="questionFormName" placeholder="Ваше имя*">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input question-inp">
                                <input class="inp" type="tel" required name="questionFormPhone" placeholder="Номер телефона*">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input question-inp">
                                <input class="inp" type="email" required name="questionFormEmail" placeholder="Email*">
                            </div>
                        </div>
                    </div>
                    <textarea class="txt-area qusetion-txtarea" name="questionFormMessage" placeholder="Сообщение"></textarea>
                    <input class="form-btn question-btn" type="submit" value="Отправить">
                </div>
            </form>
        </div>
    
        <div class="modal-content success-content" id="modal-success">
            <span class="close"></span>
            
            <span class="success-ttl">Спасибо!</span>
            <span class="success-txt">Ваша заявка принята в обработку</span>
            <span class="success-icon"></span>
        </div>
    </div>

    <!-- FOOTER -->
    <!-- /FOOTER -->

</div>

<!-- SCRIPTS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<!-- build:js scripts/validate_script.js -->
<script type="text/javascript" src="scripts/validate_script.js" ></script>
<!-- endbuild -->

<!-- build:js scripts/plagins.js -->
<script type="text/javascript" src="scripts/plagins/device.js" ></script>
<script type="text/javascript" src="scripts/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="scripts/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="scripts/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="scripts/plagins/maskInput.js" ></script>
<script type="text/javascript" src="scripts/plagins/slick.js" ></script>
    <!-- add you plagins js here -->

<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script type="text/javascript" src="scripts/basic_scripts.js" ></script>
<script type="text/javascript" src="scripts/develop/develop_1.js" ></script>
    <!-- add you develop js here -->
<!-- endbuild -->

<!-- /SCRIPTS -->

</body>
</html>